* {
  margin: 0px;
  padding: 0px;
}

.header__top {
  height: 40px;
  background-color: #000000;
  color: azure;
  font-size: 14px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 15%;
}

.header__contact {
  display: flex;
  align-items: center;
  gap: 18px; /* відстань між елементами */
}

.callback-btn {
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 5px 12px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: "Oswald";
}

.callback-btn:hover {
  background: azure;
  color: #111;
}

.callback-btn:active {
  background: #d7d7d7;
  color: #111;
  transform: scale(0.95);
  box-shadow: 0 0 55px rgba(255, 255, 255, 0.6);
}
